/*
Author: Kacie Cox
File Name: style.css
Current Date: 02/04/2021
*/


/*CSS Imbedded Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/*CSS Reset*/
html, body {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	position: relative;
}
header, nav, nav li, main, ul,img, h1, h2, h3, #container {
 	margin: 0;
 	padding: 0;
  	border: 0;
}

footer {
	width: 100%;
 	margin: 0;
 	padding: 0;
 	border: 0;
 	position: absolute;
 	bottom: 0;
}

a {
	color: white;
	text-decoration: none;
}


/*Styling for Body*/
body {
	width: 100%;
	background-color: rgb(126, 200, 227);
	color: rgb(5,10,48);
	font-family: Verdana, Arial, sans-serif;
}
.center {
	display: block;
	margin-left: auto;
  	margin-right: auto;
}
.external {
 	text-decoration: none;
 	font-weight: bold;
}
a:link, a:visited{
	color: white;
}

a:hover, a:active{
	color: rgb(206,206,206);
}



/*Styling for header*/
#heading {
	width: 100%;
	padding-top: 0;
	min-height: 30%;
	text-align: center;
	font-family: 'Chewy', Arial, cursive;
}
header h1 {
	font-size: 2.5em;
	padding-top: 5px;
	padding-bottom: 5px;
}
header h2 {
	font-size: 1.5em;
}
#logo {
	max-width: 89%;
	padding-right: 5%;
	padding-left: 5%;
	border-radius: 15%;
}


/*Styling for Image*/
img	{
	max-width: 100%;
	display: block;
}


/*Styling for navbar*/
nav {
	clear: left;
	clear: right;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
 	background-color: rgba(0, 0, 255,1);
 	border-top: white solid 5px;
}
nav ul {
	padding: 0;
  	list-style-type: none;
  	text-align: center;
}
nav li {
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 5px;
	display: block;
  	font-size: .75em;
  	font-family: Verdana, Arial, sans-serif;
  	font-weight: bold;
}
nav li a {
  	
  	color: white;
  	text-decoration: none;
}


/*Styling for main*/
main {
	padding-top: 10px;
	padding-left: 5%;
	padding-right: 2%;
	padding-bottom: 20%;
}
main h2	{
	margin-left: .5%;
	font-size: 2em;
}
main ul {
	margin-top: 10px;
	margin-left: 6%;
}
iframe{ 
	border: 0;
	max-width: 100%;
}
/*Styling for footer*/
footer {
	width: 90%;
	background-color: rgb(5,10,48);
	padding-left: 5%;
	padding-right: 5%;
}
footer ul {
	height: 10%;
	color: white;
	padding-top: 1%;
	padding-bottom: 1%;
	margin: 0;
  	list-style-type: none;
  	text-align: center;
}


/*Media Query for Tablet*/
@media only screen and (min-width: 600px) {
	/*Styling for headin*/
	#heading {
		width: 45%;
		float: left;
		padding-top: 10%;
		padding-left: 5%;
		padding-bottom: 5%;
		min-height: 30%;
		text-align: center;
		font-family: 'Chewy', Arial, cursive;
	}
	header h1 {
		font-size: 3em;
		padding-bottom: 5px;
	}
	header h2 {
		font-size: 2em;
	}
	#logo {
		float: right;
		max-width: 30%;
		padding-right: 10%;
		padding-left: 10%;
		border-radius: 28%;
	}

	/*Styling for navbar*/
	nav {
		clear: left;
		clear: right;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0;
	 	background-color: rgba(0, 0, 255,1);
	 	border-top: white solid 5px;
	}
	nav ul {
		padding: 0;
	  	list-style-type: none;
	  	text-align: center;
	}
	nav li {
		padding-left: 1%;
		padding-right: 1%;
		display: inline-block;
	  	font-size: .75em;
	  	font-family: Verdana, Arial, sans-serif;
	  	font-weight: bold;
	  	border-left: white solid 3px;
	}
	nav li a {
	  	
	  	color: white;
	  	text-decoration: none;
	}

}







