/*Kelly Green
#18A558

Neon Green
#A3EBB1

Blue Green
#21B6A8

Green
#116530*/


/*CSS Reset*/
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
}
header, nav, nav li, main, ul,img, h1, h2, h3, footer {
  margin: 0;
  padding: 0;
  border: 0;
}

.center {
  display: block;
  margin: auto;
}


main{
  padding: 2%;
  min-height: 700px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-columns: auto auto;
}

.grid-item-h1 {
  text-align: center;
  grid-column: 1 / span 2;
  background-color: #18A558;
  color: white;
}
.grid-item-single {
  grid-column: 1 / span 2;
}
img.language {
  width: 49%;
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px;
}

img.htmlbasic {
  max-width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}

li.titlelist {
  margin-left: 5%;
}

nav, footer {
  background-color: #18A558;
  color: white;
}
nav li {
  display: inline-block;
  padding: 5px; 
}
nav a, footer a{
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover, a:active{
  color: #A3EBB1;
  background-color: darkgreen;
}

footer  {
  text-align: center;
}

td {
  text-align: center;
}
td a {
  margin: 2px;
}
 .fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 15%;
}
.fa-facebook {
  padding-left: 25px;
  padding-right: 25px;
  background: #3B5998;
  color: white;
}
.fa-twitter {

  background: #55ACEE;
  color: white;
}

/*Personalization snippets*/
/**********************************************************************************************************/
/*------Felise-------*/

/*------Austin-------*/

/*------Ethan-------*/

/*------Kacie Rae-------*/
.rainbow {
  margin: 0;
  width: 100%;
  text-align: center;
  color: black;
}
.rainbow h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.rainbow button {
  border: 2px black solid;
}
/*252, 3, 49*/
.red{
  background-color: rgba(252, 3, 49, .5) ; 
}
.red h1 {
  color: rgba(252, 3, 49, 1);
}
/*250, 118, 2*/
.orange {
  background-color: rgba(250, 118, 2, .5) ;
  
}
.orange h1 {
  color: rgba(250, 118, 2, 1);
}
/*252, 244, 3*/
.yellow {
  background-color: rgba(252, 244, 3, .5);
  
}
.yellow h1 {
  color: rgba(252, 244, 3, 1);
}
/*0, 217, 29*/
.green {
  background-color: rgba(0, 217, 29, .5) ;
  
}
.green h1 {
  color: rgba(0, 217, 29, 1);
}
/*0, 18, 217*/
.blue{
  background-color: rgba(0, 18, 217, .5) ;
  
}
.blue h1 {
  color: rgba(0, 18, 217, 1);
}
/*137, 0, 217*/
.purple {
  background-color: rgba(137, 0, 217, .5) ;
  
}
.purple h1 {
  color: rgba(137, 0, 217, 1);
}



/*Tablet+ Viewport*/
@media only screen and (max-width: 600px) {

  button, navbar-toggler {
    color: white;
  }

/*Personalization snippets*/
/*------Felise-------*/

/*------Austin-------*/

/*------Ethan-------*/

/*------Kacie Rae-------*/	


}